<div id="artists-container">
    <div>
        <h1>FAVORITE ALBUMS</h1>
    </div>
    <div id="fav-album-container">
        <div>
            <a href="#" id="first-album" class="album-cover"></a>
        </div>
        <div>
            <a href="#" class="album-cover">2</a>
        </div>
        <div>
            <a href="#" class="album-cover">3</a>
        </div>
        <div>
            <a href="#" class="album-cover">4</a>
        </div>
    </div>
</div>