{{!-- contact information --}}
<div id="contact-info">
    <ul>
        <li>UNDEFINED</li>
        <li>Developer: Joonmin Kweon</li>
        <li>Address: Dangsan-dong, Seoul, S. Korea </li>
        <li>Email: flwfeeld@gmail.com </li>
        <br>
        <li>Tel: 01029347310</li>
        <li>IG: @j00my</li>
    </ul>
</div>