{{!-- contact information --}}
<div id="contact-info">
    <ul>
        <li>UNDEFINED</li>
        <li>Developer: Joonmin Kweon</li>
        <li class="contact-route">Address: Dangsan-dong, Seoul, S. Korea </li>
        <li class="contact-route">Email: flwfeeld@gmail.com </li>
        <br>
        <li class="contact-route">Tel: 01029347310</li>
        <li class="contact-route">IG: @j00my</li>
    </ul>
</div>