{{!-- contact information --}}
<div id="contact-info">
    <ul>
        <li>UNDEFINEDSTUDIO</li>
        <li><a href="https://www.instagram.com/j00my/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li>Joonmin Kweon</li>
        <li>Dangsan-dong, Seoul, S. Korea </li>
        <li>flwfeeld@gmail.com | +82 01029347310</li>
    </ul>
</div>