{{!-- contact information --}}
<div id="contact-info">
    <ul>
        <li>DOYOUSOULSTUDIO</li>
        <li><a href="https://www.instagram.com/jayemkwn/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li>Joonmin Kweon</li>
        <li>7, World Cup buk-ro 2-gil, Mapo-gu, Seoul, S.Korea</li>
        <li>flwfeeld@gmail.com | +82 01029347310</li>
    </ul>
</div>