<nav id="nav-container">
    <div id="nav-left">
        <div>
            <h1><a href="/">HOME.</a></h1>
            <h1><a href="/artists">ABOUT.</a></h1>
            <h1><a href="/projects">PROJECTS.</a></h1>
            <h1><a href="/scrapbook/choose-country">SCRAP.</a></h1>
            
        </div>
    </div>
    
    <div id="nav-right">
        <div>
            {{!-- <h1>
                <a href="#" id="change-language" class="current-lang-english">EN<span class="flag-icon flag-icon-us flag-icon-squared"></span></a>
            </h1> --}}
            {{!-- <h1><a href="#">Login</a></h1> --}}
            <h1><a href="/notice">NOTICE.</a></h1>
        </div>
    </div>
</nav>