<nav id="nav-container">
    <div id="nav-left">
        <div>
            <h1><a href="/" class="translatable">Home</a></h1>
            <h1><a href="/about" class="translatable">About</a></h1>
            <h1><a href="#" class="translatable">Projects</a></h1>
            <h1><a href="/scrapbook/choose-country" class="translatable" id="memories">Scrapbook</a></h1>
            
        </div>
    </div>
    
    <div id="nav-right">
        <div>
            <h1>
                <a href="#" id="change-language" class="current-lang-english">EN &nbsp;<span class="flag-icon flag-icon-us"></span></a>
            </h1>
            {{!-- <h1><a href="#" class="translatable">Login</a></h1> --}}
            <h1><a href="#" class="translatable">Notice</a></h1>
        </div>
    </div>
</nav>