<nav id="nav-container">
    <div id="nav-left">
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/scrapbook/choose-country" id="memories">Scrapbook</a>
            
        </div>
    </div>
    
    <div id="nav-right">
        <div>
            {{!-- <h1>
                <a href="#" id="change-language" class="current-lang-english">EN<span class="flag-icon flag-icon-us flag-icon-squared"></span></a>
            </h1> --}}
            {{!-- <h1><a href="#">Login</a></h1> --}}
            <a href="/notice">Notice</a>
        </div>
    </div>
</nav>