<div id="large-container">
    <div id="background-image-container">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">

    var images = ["south-korea-dragon.jpg", "chicago-crossing.jpg", "seattle-park.png", "uiuc-road.jpg", "south-korea-palace.jpg", "uk-tower.JPG"];
        $(function () {
            var i = 0;
            $("#background-image-container").css("background-image", "url(../img/" + images[i] + ")");
            setInterval(function () {
                i++;
                if (i == images.length) {
                    i = 0;
                }
                $("#background-image-container").fadeOut("slow", function () {
                    $(this).css("background-image", "url(../img/" + images[i] + ")");
                    $(this).fadeIn("slow");
                });
            }, 5000);
        });

        </script>
    </div>
    <div id="index-container">
        <h1 class="undefined-studio">D.Y.S STUDIO</h1>
        <h1 class="undefined-studio">D.Y.S STUDIO</h1>
        <h1 class="undefined-studio"><span class="black-text">D.Y.S STUDIO</span></h1>
        <h1 class="undefined-studio">D.Y.S STUDIO</h1>
        <h1 class="undefined-studio">D.Y.S STUDIO</h1>
    </div>
</div>
