<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/public/css/main.css">
      <title>${currentTitle}</title>
    </head>
<body>
    <section>
        <div id="about">
            <ul>
                <li>Joonmin Kweon</li>
                <li>Music Producer</li>
            </ul>   
        </div>
    </section>
    <section>
        <div>
            <div>
                <h3 class="page-title">Current Projects</h3>
            </div>
            <div id="current-projects">
                <ul>
                    <li><a href="/album-work">Album work</a></li>
                    <li><a href="/merch">Merch</a></li>
                    <li><a href="/webdev-and-design">Web Design & Development</a></li>
                </ul>
            </div>     
        </div>
    </section>
    <section>
        <div>
          <div>
            <h3 class="page-title">Memories</h3>
          </div>    
          <div class="gallery-container">
            <ul>
                <li><img src="/public/img/chicago-crown-fountain.jpg"></li>
                <li><img src="/public/img/chicago-crossing.jpg"></li>
                <li><img src="/public/img/chicago-taxi.jpg"></li>
                <li><img src="/public/img/chicago-caution.jpg"></li>
                <li><img src="/public/img/chicago-bean.jpg"></li>
            </ul>
          </div>
        </div>
    </section>
    <section>
        <div id="contact-info">
            <h3 class="page-title">Contact</h3>
            <ul>
                <li>email: flwfeeld@gmail.com  </li>
                <li>phone: +82 01029347310</li>
                <li>instagram: j00my</li>
                <li>Mullae-dong, Yeongdeungpo-gu, Seoul, S. Korea</li>
            </ul>
        </div>
    </section>
</body>
</html>