<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>namehere | workspace</title>
</head>
<body>
    <p>NAMEHERE</p>
    <section>
        <div id="about">
            <ul>
                <li>Joonmin Kweon</li>
                <li>Music Producer</li>
            </ul>
        </div>
        <div id="contact-info">
            <ul>
                <li>email: flwfeeld@gmail.com  </li>
                <li>phone: +82 01029347310</li>
                <li>instagram: j00my</li>
                <li>Mullae-dong, Yeongdeungpo-gu, Seoul, S. Korea</li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <div>
                <h1>Current Projects</h1>
            </div>
            <div id="current-projects">
                <ul>
                    <li>Album work</li>
                    <li>Online merch</li>
                    <li>Web design / Development</li>
                </ul>
            </div>     
        </div>
    </section>
</body>
</html>