<div id="large-container">
    <div id="index-container">
        <h1 id="undefined-studio">doyousoulstudio</h1>
        <h1 id="undefined-studio-phone">doyousoul<br>studio</h1>
<h1 id="reaction-to-art">we are a group based around the world that strives to give positive influence to the world by creating new ways to ignite creative thoughts and feelings through our own forms of artistic expression.</h1>
    </div>
    <h1 id="latest-projects"><i class="fas fa-long-arrow-alt-down"></i>[ latest projects. ]</h1>
    <div id="projects-list">
        <div class="project-cover" id="project-one">

        </div>
        <div class="project-cover" id="project-two">
            
        </div>
        <div class="project-cover" id="project-three">
            
        </div>
       
    </div>
            
</div>
