<div id="large-container">
    <div id="index-container">
        <h1 class="undefined-studio">doyousoulstudio</h1>
        <h1 id="reaction-to-art">group based around the world striving to create new ways, igniting creative thoughts and feelings through forms of artistic language to make a better world.</h1>
    </div>
    <h1 id="latest-projects"><i class="fas fa-long-arrow-alt-down"></i>[ latest projects. ]</h1>
    <div id="projects-list">
        <div class="project-cover" id="project-one">

        </div>
        <div class="project-cover" id="project-two">
            
        </div>
        <div class="project-cover" id="project-three">
            
        </div>
       
    </div>
</div>
