<div id="large-container">
    <div id="index-container">
        <h1 id="undefined-studio">artist</h1>
        <h1 id="undefined-studio-phone">doyousoul<br>studio</h1>
<h1 id="reaction-to-art">we are a group based around the world that strives to give positive influence to the world by creating new ways to ignite creative thoughts and feelings through our own forms of artistic expression.</h1>
    </div>
    
       <div id="projects-container">
    <h3>Music Projects Timeline</h3>
    <div id="music-projects-container">
        <div id="date-container">
            <p>21.DEC</p>
            <p>21.NOV</p>
            <p>21.NOV</p>
            <p>20.MAR</p>
        </div>
        <div id="projects-list-container">
            <p><a>BOUNDSCAPE Advertisement Music Production, Mix, Master</a></p>

            <p><a>MIC SWG x Foot Locker [BPM] - Dohanse,YongYong,Goopy</a></p>

            <p><a>MIC SWG [BPM] - PENOMECO</a></p>

            <p><a>Floor Lovers Illinois Spring Concert BBOY Mix</a></p>
            
            
            
        </div>
    </div>
</div>
            
</div>
