* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: whitesmoke; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-container {
    width: 100vw;
    border-bottom: 2px solid black;
    height: 50px;
    display: flex;
    flex-direction: row;
    /* position: sticky;  */
}

#nav-container a {
    text-decoration: none;
    color: black;
}

#nav-left, #nav-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
}

#nav-left div {
    display: flex;
    flex-direction: row;
}

#nav-left div h1 {
    margin-right: 5vw;
    width: 5vw;
    text-align: center;
}

#nav-left div h1:nth-of-type(1), #nav-left div h1:nth-of-type(3) {
    text-align: center;
} 

#nav-left div:nth-of-type(1) {
    margin-left: 10%;
}

#nav-left div h1, #nav-right div h1 {
    font-family: 'Arial', cursive;
    font-size: 15px;
}

#nav-right {
    flex-direction: column;
    justify-content: center;
}

#nav-right div {
    display: flex;
    align-self: flex-end;
    border: 1px solid red;
    margin-right: 10%;
}

#nav-right div h1 {
    border: 1px solid red;
    width: 8vw;
    text-align: center;
}

#section-home {
    border: 1px solid green;
}




















/* CONTACT */
#about-container, #contact-info, #choose-country-container, .photo-top-container {
    border: 1px solid red;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

#about-container div:nth-of-type(1) {
    width: 30%;
    display: flex;
}

#about-container div:nth-of-type(2) {
    display: flex;
    align-items: center;
}

#about-container div {
    border: 1px solid red;
}

/* ABOUT */
#about, #scrap-category {
    padding-top: 1em;
    padding-bottom: 1em;
}

#about-undefined {
    font-weight: 100;
    font-size: 1em;
}







/* MEMORIES PHOTO GALLERY */
.gallery-container {
    padding: 10vw;
}

.gallery-container ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery-container li {
    height: 80vh;
    flex-grow: 1;
}

.gallery-container img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}