* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

html {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-container {
    width: 100vw;
    height: 7vh;
    background-color: whitesmoke;
    position: sticky;
    display: flex;
    flex-direction: row;
    /* position: sticky;  */
}

#nav-container h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#nav-container a {
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.2s;
}

#nav-container a:hover {
    color: grey;
}

#nav-left, #nav-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-left div {
    display: flex;
    flex-direction: row;
}

#nav-left div h1 {
    margin-right: 2vw;
    width: 4vw;
    text-align: center;
}

#nav-left div h1:nth-of-type(1), #nav-left div h1:nth-of-type(3) {
    text-align: center;
} 

#nav-left div:nth-of-type(1) {
    margin-left: 10%;
}

#nav-left div h1, #nav-right div h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#nav-right {
    flex-direction: column;
    justify-content: center;
}

#nav-right div {
    display: flex;
    align-self: flex-end;
    margin-right: 10%;
}

#nav-right div h1 {
    width: 8vw;
    text-align: center;
}

#large-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0);
}

#background-image-container {
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(4px);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    z-index: 500;
    border: 20px solid whitesmoke;
    
}

#index-container {
    /* background-image: url("../img/south-korea-dragon.jpg"); */
    top: 7vh;
    position: absolute;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100000;
    width: 100%;
    border: 30px solid whitesmoke;
}

#background-image-container {
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 70vh;
}

.undefined-studio {
    /* line-height: 80px; */
    letter-spacing: -7px;
    text-align: center;
    font-size: 8em;
    font-family: 'Arial', cursive;
    color: black;
    transition: 0.3s;
    cursor:default;
}

#reaction-to-art {
    color: black;
    font-family: 'Arial', cursive;
    text-align: center;
}

.black-text {
    color: black;
}

#about-container, #contact-info, #choose-country-container, .photo-top-container {
    padding-left: 2vw;
    padding-top: 2vw;
    padding-right: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

#about-container .text-design {
    letter-spacing: -10px;
}

#projects-container {
    background-color: whitesmoke;
}

#projects-container .text-design {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 2vw;
}

#projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-cover {
    width: 30vw;
    height: 30vw;
    margin: 1vw;
    border: 1px solid black;
}

#contact-info {
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: center;
    text-align: center;
}

#contact-info li a {
    text-decoration: none;
    color: black;
}

#about-container div:nth-of-type(1), #about-container div:nth-of-type(2), #country-list {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 30%; */
    /* border: 1px solid red; */
    width: 100%;
    height: 70vh;
} 

#choose-country-container {
    display: flex;
    flex-direction: row;
    /* align-items: left;     */
}

.text-design {
    font-size: 8em;
    line-height: 68px;
    font-family: Arial, Helvetica, sans-serif;
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black; */
}

.text-design:hover {
    /* letter-spacing: -4px; */
}

#about-undefined {
    width: 40%;
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-decoration: none;
    /* border: 1px solid red; */
}

.country-list-container {
    overflow-y: scroll;
}

.country-list-container li:nth-of-type(1){
    text-align: left;
}

.country {
    -webkit-transition: ease-in-out 0.2s;
}

.country:hover {
    letter-spacing: -15px;
}

#pointer-image {
    position: absolute;
    z-index: -1;
}

#pointer-image-chicago, #pointer-image-uiuc-18-19, #pointer-image-uk, #pointer-image-seoul-20 {
    width: 100vw;
    height: auto;
    display: none;
}

.country {
    font-size: 7em;
    font-weight: bold;
    letter-spacing: -9px;
    padding-left: 10px;
    padding-right: 10px;
}

.country a {
    text-decoration: none;
    color: black;
}

.country:hover {
    /* background-color: black; */
}

.country:hover a {
    color: grey;
}

/* MEMORIES PHOTO GALLERY */
.gallery-container {
    padding-left: 10vw;
    padding-right: 10vw;
}

.gallery-container ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery-container li {
    height: 60vh;
    border: 1em whitesmoke solid;
    flex-grow: 1;
}

.gallery-container img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.photo-top-container {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.photo-top-container p {
    width: 33%;
}

.photo-top-container p:nth-of-type(2) {
    text-align: center;
}


.back-button {
    color: black;
    text-decoration: none;
    margin-left: 2em;
}