<div id="about-container">
    <div>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        {{!-- <h1 class="text-design" class="page-title"><span class="black-text">ABOUT</span></h1> --}}
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
    </div>
    <div>
        <a id="about-undefined">
        doyousoul? is a music producer from Seoul, S. Korea, striving to output his thoughts and feelings through various forms of artistic expression. 
        </a>
    </div>
</div>