<div id="about-container">
    <div>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title"><span class="black-text">ABOUT</span></h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
        <h1 class="text-design" class="page-title">ABOUT</h1>
    </div>
    <div>
        <h1 id="about-undefined">
        doyousoul? is a music producer / artist from Seoul, S. Korea, striving to create products to store his thoughts and feelings through various forms of artistic expression. 
        </h1>
    </div>
</div>