<div id="about-container">
    <p>
        UNDEFINED is a music producer / artist from Seoul, S. Korea, striving to create products to store his thoughts and feelings through various forms of artistic expression. 
    </p>
</div>