
    <div id="archives-container">
    <div>
        <h1>archives</h1>
    </div>
    <div id="fav-album-container">
        <div>
        <div id="second-project" class="project-image">
            
        </div>
        <p>dawn</p>
        </div>
        <div>
        <div id="first-project" class="project-image">
            
        </div>
        <p>treasure</p>
        </div>
        <div id="third-project">
            
        </div>
        <div id="fourth-project">
            
        </div>
    </div>
</div>
