<div id="projects-container">
    <div>
        <p>Nothing to see here yet.</p>
    </div>
</div>

{{!-- <div id="projects-container">
    <h3>Music Projects Timeline</h3>
    <div id="music-projects-container">
        <div id="date-container">
            <p>21.DEC</p>
            <p>21.NOV</p>
            <p>21.NOV</p>
            <p>20.MAR</p>
        </div>
        <div id="projects-list-container">
            <p><a>BOUNDSCAPE Advertisement Music</a></p>

            <p><a>MIC SWG x Foot Locker [BPM] - Dohanse,YongYong,Goopy</a></p>

            <p><a>MIC SWG [BPM] - PENOMECO</a></p>

            <p><a>Floor Lovers Illinois Spring Concert BBOY Mixset</a></p>
            
            
            
        </div>
    </div>
</div> --}}