<div id="projects-container">
    <div>
        <h1 class="text-design">[ projects. ]</h1>
    </div>
    <div id="projects-list">
        <div class="project-cover" id="project-one">

        </div>
        <div class="project-cover" id="project-two">
            
        </div>
        <div class="project-cover" id="project-three">
            
        </div>
        <div class="project-cover" id="project-four">
            
        </div>
        <div class="project-cover" id="project-five">
            
        </div>
        <div class="project-cover" id="project-six">
            
        </div>
    </div>
</div>