<div id="notice-container">
    <div>
        {{!-- <h1 class="text-design" class="page-title"><span class="black-text">notice</span></h1> --}}
        <h1 class="text-design" class="page-title">Notice</h1>
    </div>
</div>