<div id="artists-container">
    <div>
        <h1>about</h1>
    </div>
    <div class="artists-title">
        <h1>
            we are a group based around the world that strives to give positive influence to the world by creating new ways to ignite creative thoughts and feelings through our own forms of artistic expression.
        </h1>
    </div>
</div>