<div id="artists-container">
    <div>
        {{!-- <h1 class="text-design"><span class="black-text">ARTISTS</span></h1> --}}
        <h1 class="text-design">[ artists. ]</h1>

    </div>
    <div id="artists-introduction-container">
        <div class="artists-title">
            <h2>
                [  ] is a music producer & artist from Seoul, S. Korea. He strives to create music that serves as his own language to express various senses, hoping to connect with listeners through the sound.
            </h2>
            <h1>artist 1</h1>
            <div id="artist-one-picture">

            </div>
        </div>
        <div class="artists-title">
            <h2>
                [  ] is a music producer & artist from Seoul, S. Korea. He strives to create music that serves as his own language to express various senses, hoping to connect with listeners through the sound.
            </h2>
            <h1>artist 2</h1>
            <div id="artist-two-picture">
            </div>
        </div>
        <div class="artists-title">
            <h2>
                [  ] is a music producer & artist from Seoul, S. Korea. He strives to create music that serves as his own language to express various senses, hoping to connect with listeners through the sound.
            </h2>
            <h1>artist 3</h1>
            <div id="artist-three-picture">
            </div>
        </div>
    </div>    
</div>