<div id="choose-country-container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!-- <div>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title"><span class="black-text">SCRAPS</span></h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
    </div> --}}
    <div>
        <ul id="country-list">
            <div id="pointer-image">
            <img id="pointer-image-uk" src="/img/uk-tower.jpg"/>
            <img id="pointer-image-chicago" src="/img/chicago-caution.jpg"/>
            <img id="pointer-image-uiuc" src="/img/uiuc-road.jpg"/>
            </div>
            <div class="country-list-container">
                {{!-- <li><i class="fa fa-long-arrow-down" aria-hidden="true"></i> Choose Country <i class="fa fa-long-arrow-down" aria-hidden="true"></i></li>    --}}
                <li class="country" id="london"><a href="/scrapbook/London">12 - LONDON</a></li>
                <li class="country" id="chicago"><a href="/scrapbook/Chicago">18 - CHICAGO</a></li>
                <li class="country" id="uiuc"><a href="/scrapbook/UIUC">18-19 - UIUC</a></li>
                <li class="country" id="seattle"><a href="/scrapbook/Seattle">19 - SEATTLE</a></li>
                <li class="country" id="s-korea"><a href="/scrapbook/South Korea">20 - SEOUL</a></li>
                
            </div>
        </ul>   
    </div>

    <script>
        let isMouseHover = false;

        let london = document.getElementById('london');
        let londonImage = document.getElementById('pointer-image-uk'
        );

        let chicago = document.getElementById('chicago');
        let chicagoImage = document.getElementById('pointer-image-chicago');

        let uiuc = document.getElementById('uiuc');
        let uiucImage = document.getElementById('pointer-image-uiuc');


        //uk
        london.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            londonImage.style.display = "none";
        }, false);
        london.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            londonImage.style.display = "block";
        }, false);
       
        //chicago 
        chicago.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            chicagoImage.style.display = "none";
        }, false);
        chicago.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            chicagoImage.style.display = "block";
        }, false);

        //uiuc
        uiuc.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            uiucImage.style.display = "none";
        }, false);
        uiuc.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            uiucImage.style.display = "block";
        }, false);
        
        //image follows pointer
        $(document).mousemove(function(e) {
        $("#pointer-image").css({
                left: e.pageX - 250,
                top: e.pageY - 200
            });
        });
    </script>
</div>

