<div id="choose-country-container">
    <div>
        <h1 id="scrap-category" class="page-title">Scrap Category</h1>
    </div>
    <div>
        <ul>
        <li><a href="/scrapbook/Chicago">Chicago</a></li>
        <li><a href="/scrapbook/UIUC">UIUC</a></li>
        <li><a href="/scrapbook/Seattle">Seattle</a></li>
        </ul>   
    </div>
</div>