<div id="choose-country-container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!-- <div>
        <h1 class="text-design">SCRAPS</h1>
        <h1 class="text-design">SCRAPS</h1>
        <h1 class="text-design">SCRAPS</h1>
        <h1 class="text-design"><span class="black-text">SCRAPS</span></h1>
        <h1 class="text-design">SCRAPS</h1>
        <h1 class="text-design">SCRAPS</h1>
        <h1 class="text-design">SCRAPS</h1>
    </div> --}}
    <div>
        <ul id="country-list">
            <div id="pointer-image">
            <img id="pointer-image-uk" src="/img/uk-tower.JPG"/>
            <img id="pointer-image-chicago" src="/img/chicago-caution.jpg"/>
            <img id="pointer-image-uiuc-18-19" src="/img/uiuc-road.jpg"/>
            <img id="pointer-image-seoul-20" src="/img/south-korea-palace.jpg"/>
            </div>
            <h1>[ Just a place where we post random stuff from our life based on location and year. ]</h1>
            <div class="country-list-container">
                <h2 id="scroll-down">scroll down!</h2>
                {{!-- <li><i class="fa fa-long-arrow-down" aria-hidden="true"></i> Choose Country <i class="fa fa-long-arrow-down" aria-hidden="true"></i></li>    --}}
                <li class="country" id="seoul-20"><a href="/scrapbook/Seoul 20">20-SEOUL, S. KOREA</a></li>
                {{!-- <li class="country" id="seattle"><a href="/scrapbook/Seattle">19-SEATTLE</a></li> --}}
                <li class="country" id="uiuc-18-19"><a href="/scrapbook/UIUC 18-19">18-19-URBANA CHAMPAIGN, ILLINOIS</a></li>
                <li class="country" id="chicago"><a href="/scrapbook/Chicago">18-CHICAGO, ILLINOIS</a></li>
                <li class="country" id="london"><a href="/scrapbook/London">12-LONDON, UNITED KINGDOM</a></li>
            </div>
        </ul>   
    </div>

    {{!-- <script>
        let isMouseHover = false;

        let london = document.getElementById('london');
        let londonImage = document.getElementById('pointer-image-uk'
        );

        let chicago = document.getElementById('chicago');
        let chicagoImage = document.getElementById('pointer-image-chicago');

        let uiuc_18_19 = document.getElementById('uiuc-18-19');
        let uiuc_18_19_Image = document.getElementById('pointer-image-uiuc-18-19');

        let seoul20 = document.getElementById('seoul-20');
        let seoul20Image = document.getElementById('pointer-image-seoul-20');


        //uk
        london.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            londonImage.style.display = "none";
        }, false);
        london.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            londonImage.style.display = "block";
        }, false);
       
        //chicago 
        chicago.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            chicagoImage.style.display = "none";
        }, false);
        chicago.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            chicagoImage.style.display = "block";
        }, false);

        //uiuc
        uiuc_18_19.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            uiuc_18_19_Image.style.display = "none";
        }, false);
        uiuc_18_19.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            uiuc_18_19_Image.style.display = "block";
        }, false);

         //uiuc
        seoul20.addEventListener('mouseleave', function(event) {
            isMouseHover = false;
            seoul20Image.style.display = "none";
        }, false);
        seoul20.addEventListener('mouseover', function(event) {
            isMouseHover = true;
            seoul20Image.style.display = "block";
        }, false);
        
        //image follows pointer
        $(document).mousemove(function(e) {
        $("#pointer-image").css({
                left: e.pageX - 250,
                top: e.pageY - 200
            });
        });
    </script> --}}
</div>

