<div id="choose-country-container">
    <div>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title"><span class="black-text">SCRAPS</span></h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
        <h1 class="text-design" class="page-title">SCRAPS</h1>
    </div>
    <div>
        <ul id="country-list">
        <li><i class="fa fa-long-arrow-down" aria-hidden="true"></i> Choose Country <i class="fa fa-long-arrow-down" aria-hidden="true"></i></li>
        <li><a href="/scrapbook/Chicago" class="country">CHICAGO</a></li>
        <li><a href="/scrapbook/UIUC" class="country">UIUC</a></li>
        {{!-- <li><a href="/scrapbook/Seattle" class="country">| SEATTLE</a></li> --}}
        </ul>   
    </div>
</div>