<div class="photo-top-container">
    <p><a href="/scrapbook/choose-country" class="back-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
    <p>{{photoLocation}}</p>
    <p></p>
</div>
<div class="gallery-container">
    <ul>
        <li><img src="/img/south-korea-dragon.jpg"></li>
        <li><img src="/img/south-korea-elevator.jpg"></li>
        <li><img src="/img/south-korea-game.jpg"></li>
        <li><img src="/img/south-korea-garden.jpg"></li>
        <li><img src="/img/south-korea-gooseisland.jpg"></li>
        <li><img src="/img/south-korea-halfcoffee.jpg"></li>
        <li><img src="/img/south-korea-incheon.jpg"></li>
        <li><img src="/img/south-korea-jackdaniels.jpg"></li>
        <li><img src="/img/south-korea-jejucart.JPG"></li>
        <li><img src="/img/south-korea-jejupark.JPG"></li>
        <li><img src="/img/south-korea-jejusea.JPG"></li>
        <li><img src="/img/south-korea-jejutree.JPG"></li>
        <li><img src="/img/south-korea-jejuwater.PNG"></li>
        <li><img src="/img/south-korea-jejuwindmill.JPG"></li>
        <li><img src="/img/south-korea-kyobotower.jpg"></li>
        <li><img src="/img/south-korea-lotteworld.jpg"></li>
        <li><img src="/img/south-korea-namsanmountain.jpg"></li>
        <li><img src="/img/south-korea-namsanstair.jpg"></li>
        <li><img src="/img/south-korea-palace.jpg"></li>
        <li><img src="/img/south-korea-redbutton.jpg"></li>
        <li><img src="/img/south-korea-ricecake.jpg"></li>
        <li><img src="/img/south-korea-roof.jpg"></li>
        <li><img src="/img/south-korea-tea.jpg"></li>
        <li><img src="/img/south-korea-terminal.jpg"></li>
        <li><img src="/img/south-korea-vendingmachine.jpg"></li>
        <li><img src="/img/south-korea-weirdbuilding.jpg"></li>
        <li><img src="/img/south-korea-wine.jpg"></li>
    </ul>
</div>