<div class="photo-top-container">
    <p><a href="/scrapbook/choose-country" class="back-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
    <p>{{photoLocation}}</p>
    <p></p>
</div>
<div class="gallery-container">
    <ul>
        <li><img src="/img/south-korea-bunker.jpg"></li>
        <li><img src="/img/busanbeach.jpg"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
        <li><img src="/img/"></li>
    </ul>
</div>