<div class="photo-top-container">
    <p><a href="/">Home</a></p>
    <p><a href="/scrapbook/choose-country">Back</a></p>
    <p>{{photoLocation}}</p>
</div>
<div class="gallery-container">
    <ul>
        <li><img src="/img/uiuc-road.jpg"></li>
        <li><img src="/img/uiuc-art.jpg"></li>
        <li><img src="/img/uiuc-urbanite.jpg"></li>
        <li><img src="/img/uiuc-dough.jpg"></li>
        <li><img src="/img/uiuc-grainger.jpg"></li>
        <li><img src="/img/uiuc-study.jpg"></li>
        <li><img src="/img/uiuc-campus.jpg"></li>
    </ul>
</div>