<div class="photo-top-container">
    <p><a href="/scrapbook/choose-country" class="back-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
    <p>{{photoLocation}}</p>
    <p></p>
</div>
<div class="gallery-container">
    <ul>
        <li><img src="/img/uiuc-road.jpg"></li>
        <li><img src="/img/uiuc-art.jpg"></li>
        <li><img src="/img/uiuc-urbanite.jpg"></li>
        <li><img src="/img/uiuc-dough.jpg"></li>
        <li><img src="/img/uiuc-grainger.jpg"></li>
        <li><img src="/img/uiuc-study.jpg"></li>
        <li><img src="/img/uiuc-campus.jpg"></li>
    </ul>
</div>